.footer {
  background: #ffffff;
  color: rgb(25, 49, 48);
  text-align: center;
  padding: 15px;
  margin-top: px;
  animation: fadeIn 1s ease;
}

.footer p {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}